*{
    box-sizing: border-box;
}

body{
    background-color: #FDF0D5;
    font-family: 'Lora', serif;
    button{
        cursor: pointer;
        font-size: 1.5rem;
    }
    .App{
        margin-top: 5rem;
    }
}