.add-modal{
    width: 380px;
    height: 600px;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-5%, -50%);
    display: flex;
    align-items: center;
    padding-top: 1.7rem;
    .add-modal-header{
        background-color: #cd729c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
        position: fixed;
        top: 0;
        padding: 0 1rem;
        color: black;
    }
    .add-item-form-container{
        background-color: #3a3f98;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 1rem;

        div{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 80%;
                height: 2rem;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 500px;
            gap: 1.5rem;
        }
    }
}

.addModalOff{
    display: none;
    opacity: 0;
    transition: .5s ease-in-out;
}
.addModalOn{
    display: block;
    opacity: 1;
    transition: .5s ease-in-out;
  }
  .add-hidden-div.addModalOn{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
  }