* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $BACKGROUND_COLOR;
  button {
    cursor: pointer;
  }
  .App {
    // padding-top: 5rem;
    .close-button {
      border: none;
      background-color: transparent;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      color: $LIGHT_COLOR;
    }
    .main-button {
      color: $LIGHT_COLOR;
      background-color: $MAIN_COLOR;
      border-radius: 6px;
      font-size: 1.2rem;
      padding: 0.2rem 0.4rem;
    }
    .increase-decrease-buttons {
      background-color: $MAIN_COLOR;
      color: $LIGHT_COLOR;
      border-radius: 4px;
      font-size: 1.5rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

.switch-signIn-signUp {
  color: $MAIN_COLOR;
  text-decoration: underline;
  cursor: pointer;
}
