*{
    box-sizing: border-box;
}

body{
    background-color: #FDF0D5;
    font-family: 'Lora', serif;
    button{
        cursor: pointer;
    }
    .App{
        margin-top: 5rem;
        .close-button{
            border: none;
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            color: black;
        }
        .main-button{
            color: white;
            background-color: #0e5b8b;
            border-radius: 6px;
            font-size: 1.2rem;
        }
    }
}