.cart-item {
  @include COLUMN_ALIGN_CENTER;
  gap: 1rem;
  margin: 2rem 0;
  padding: 0.5rem;
  img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
  }
  .cart-container {
    width: 100%;
    .name-quantity {
      @include ROW_JUSTIFY_AROUND;
      .cart-item-name {
        font-size: large;
        font-weight: bold;
      }
      .cart-item-quantity {
        color: gray;
        @include ROW_JUSTIFY_CENTER;
        gap: 0.5rem;
        button {
          border-radius: 4px;
          font-size: 1.5rem;
        }
      }
    }
    .price-total {
      @include ROW_JUSTIFY_AROUND;
      margin-top: 0.5rem;
      .cart-item-price {
        font-weight: bold;
        color: gray;
      }
      .cart-item-total {
        color: gray;
      }
    }
  }
}
