.edit-modal{
    background-color: #FDF0D5;
    width: 380px;
    height: 600px;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-5%, -50%);
    display: flex;
    align-items: center;
    .edit-modal-header{
        background-color: #669BBC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
        position: fixed;
        top: 0;
        padding: 0 1rem;
    }
    .edit-profile-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.2rem;
        div{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 80%;
                height: 2rem;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;

        }
        button{
            color: white;
            background-color: #C1121F;
            border-radius: 6px;
            font-size: 1.2rem;
        }
    }
}

.editModalOff{
    display: none;
    opacity: 0;
    transition: .5s ease-in-out;
}
.editModalOn{
    display: block;
    opacity: 1;
    transition: .5s ease-in-out;
  }
  .edit-hidden-div.editModalOn{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
  }