.login-modal{
    width: 380px;
    height: 250px;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-5%, -50%);
    display: flex;
    align-items: center;
    padding-top: 3rem;
    .login-modal-header{
        background-color: #cd729c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
        position: fixed;
        top: 0;
        padding: 0 1rem;
        color: black;
        height: 3rem;
    }
    .login-form-container{
        background-color: #3a3f98;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.2rem;
        
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            div{
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    width: 80%;
                    height: 2rem;
                }
            }
            .password-container{
                position: relative;
                .showHidePassword{
                    position: absolute;
                    top: 55%;
                    right: 15%;
                    color: black;
                }
            }

        }
        // button{
        //     color: white;
        //     background-color: #0e5b8b;
        //     border-radius: 6px;
        //     font-size: 1.2rem;
        // }
    }
}

.loginModalOff{
    display: none;
    opacity: 0;
    transition: .5s ease-in-out;
}
.loginModalOn{
    display: block;
    opacity: 1;
    transition: .5s ease-in-out;
  }
  .login-hidden-div.loginModalOn{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
  }