.modal {
  width: 380px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  @include COLUMN_ALIGN_CENTER;
  padding-top: 3rem;
  .modal-header {
    background-color: $MAIN_COLOR;
    @include ROW_JUSTIFY_BETWEEN;
    width: 380px;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    color: $LIGHT_COLOR;
    height: 3rem;
    border-radius: 16px 16px 0 0;
  }

  .form-container {
    background-color: $BACKGROUND_COLOR;
    @include COLUMN_ALIGN_CENTER;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
    color: $DARK_COLOR;
    border-radius: 0 0 16px 16px;
    form,
    .delete-modal-body {
      @include COLUMN_ALIGN_CENTER;
      justify-content: space-around;
      height: 100%;
      gap: 1rem;
      padding: 1rem 0;
      div {
        width: 300px;
        @include COLUMN_ALIGN_CENTER;
        input {
          width: 80%;
          height: 2rem;
          border: none;
          border-radius: 6px;
          padding: 0.5rem;
        }
      }

      .password-container {
        position: relative;

        .showHidePassword {
          position: absolute;
          top: 55%;
          right: 15%;
          color: $DARK_COLOR;
        }
      }
    }
  }
}

.signInModalOff,
.signUpModalOff,
.addModalOff,
.editModalOff,
.updateItemModalOff,
.deleteItemModalOff {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.signInModalOn,
.signUpModalOn,
.addModalOn,
.editModalOn,
.updateItemModalOn,
.deleteItemModalOn {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.hidden-div.signInModalOn,
.hidden-div.signUpModalOn,
.hidden-div.addModalOn,
.hidden-div.editModalOn,
.hidden-div.updateItemModalOn,
.hidden-div.deleteItemModalOn {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $DARK_COLOR;
  opacity: 0.5;
}
