.off-canvas{
    width: 380px;
    height: 100%;
    background-color: white;
    overflow: scroll;
    padding-top: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    .off-canvas-header{
        background-color: #669BBC;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
        position: fixed;
        top: 0;
        padding: 0 1rem;
    }
    .items-container{
        padding-top: 2rem;
    }
}

.off{
    display: none;
    opacity: 0;
    transition: .5s ease-in-out;
  }
  .on{
    display: block;
    opacity: 1;
    transition: .5s ease-in-out;
  }
  
  body:has(.on:hover){
    overflow-y: hidden;
  }

  .hidden-div.on{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
  }