@media screen and (min-width: $SMALL_SCREEN) {
  .navbar-container {
    .navbar-sub-container {
      .bar-button-username {
        width: fit-content;
        .bar-button {
          display: none;
        }
        .app-name {
          margin-left: 1rem;
        }
      }
      .pages {
        .burger-menu {
          position: static;
          width: 100%;
          height: 2rem;
          padding: 0;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
        }
        .routes-container,
        .signUp-signIn-container {
          flex-direction: row;
          gap: 0.5rem;
          button {
            font-size: 1rem;
            text-decoration: underline;
          }
        }
      }
    }
    .backdrop.on {
      display: none;
    }
  }
  .home-container {
    .background {
      height: 60vh;
    }
  }
  .about-container {
    .mission {
      img {
        height: 60vh;
        object-fit: cover;
      }
      h5 {
        width: 550px;
      }
    }
    .features-container {
      width: 450px;
      h5,
      p {
        max-width: 80%;
      }
    }
    .how-it-works-container {
      width: 60%;
    }
    .technologies-used-container {
      p {
        width: 80%;
      }
    }
  }
  .myProfile-container {
    .my-info-container {
      width: 70%;
      margin: 0 auto;
    }
  }
  .my-items-container {
    .my-items-sub-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .store {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .shopping-item {
      min-height: 350px;
    }
  }
}

@media screen and (min-width: $MEDIUM_SCREEN) {
  .navbar-container {
    .navbar-sub-container {
      .burger-menu {
        .routes-container,
        .signUp-signIn-container {
          gap: 1rem;
          button {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .home-container {
    .background {
      height: 100vh;
      background-size: cover;
      background-position: right;
      z-index: -1;
    }
    .home-app-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      gap: 2rem;
      h1 {
        font-size: 3rem;
        text-shadow: 4px 2px 2px $LIGHT_COLOR;
      }
      h4 {
        width: 80%;
        font-size: 1.5rem;
        color: $LIGHT_COLOR;
        text-shadow: 2px 2px 5px $MAIN_COLOR;
      }
    }
  }
  .about-container {
    font-size: 1.5rem;
    .mission {
      h5 {
        width: 80%;
      }
    }
    .features-container {
      width: 70%;
    }
  }
  .myProfile-container {
    .my-info-container {
      width: 60%;
    }
  }
}
@media screen and (min-width: $LARGE_SCREEN) {
  .navbar-container {
    .navbar-sub-container {
      .burger-menu {
        gap: 1rem;
        .routes-container,
        .signUp-signIn-container {
          gap: 2rem;
        }
      }
    }
  }
  .about-container {
    padding-top: 0;
    .features-container {
      padding: 2rem 0;
      background: none;
      color: $DARK_COLOR;
      text-shadow: none;
      .features {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        p {
          @include COLUMN_ALIGN_CENTER;
          width: 45%;
          min-height: 180px;
          text-align: center;
          background-color: $SECONDARY_BG_COLOR;
          padding: 1rem;
          border-radius: 16px;
        }
      }
    }
    .how-it-works-container {
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        li {
          background-color: $SECONDARY_BG_COLOR;
          width: 70%;
          padding: 1rem;
          border-radius: 16px;
        }
        li:nth-child(even) {
          align-self: flex-end;
        }
      }
    }
    .technologies-used-container {
      img {
        height: 80vh;
        object-fit: cover;
      }
      .technologies {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        p {
          width: 45%;
          min-height: 250px;
        }
      }
    }
  }
  .myProfile-container {
    .my-info-container {
      width: 50%;
    }
  }
}
