.signUp-modal {
    width: 380px;
    height: 600px;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-5%, -50%);
    display: flex;
    align-items: center;
    padding-top: 3rem;

    .signUp-modal-header {
        background-color: #cd729c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
        position: fixed;
        top: 0;
        padding: 0 1rem;
        color: black;
        height: 3rem;
    }

    .signUp-form-container {
        background-color: #3a3f98;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 1rem;
        color: white;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 500px;
            gap: 1.5rem;

            div {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 80%;
                    height: 2rem;
                    border: none;
                    border-radius: 6px;
                }
            }

            .password-container {
                position: relative;

                .showHidePassword {
                    position: absolute;
                    top: 55%;
                    right: 15%;
                    color: black;
                }
            }
        }
    }
}

.signUpModalOff {
    display: none;
    opacity: 0;
    transition: .5s ease-in-out;
}

.signUpModalOn {
    display: block;
    opacity: 1;
    transition: .5s ease-in-out;
}

.signUp-hidden-div.signUpModalOn {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}